.cart{
    margin-bottom: 80px;
    &__title{
        margin: 32px 0 24px;
    }
    .subtitle{
        text-align: left;
    }
    &__inner{
        display: flex;
    }
    &__left{
        display: flex;
        flex-direction: column;
        width: 100%;
        .card-cart:last-child{
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
        }
    }
    &__right{
        margin-left: 32px;
        max-width: 384px;
        padding: 44px 32px 40px;
        text-align: center;
        border: 1px solid $anothergray;
        width: 100%;
        .partners__list{
            justify-content: center;
            .partners__item + .partners__item{
                margin-left: 15px !important;
            }
            .partners__item:nth-child(2){
                margin-left: 0;
            }
            .partners__item{
                &:first-child{
                    display: none;
                }
            }
            .picon{
                filter: unset;
                opacity: 1;
                zoom: .6;
            }
        }
    }
    &__right-title{
        font-size: 16px;
        line-height: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: $text-main;
        margin-bottom: 27px;
    }
    &__economy{
        margin-bottom: 24px;
        font-size: 13px;
        line-height: 13px;
        span{
            color: $text-main;
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
        }
    }
    &__btn{
        margin-bottom: 24px;
        padding: 0;
    }
    &__promo{
        position: relative;
        &-head{
            padding: 22px 0 !important;
            max-height: 57px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;
        }
    }
    .accordion-body{
        padding-top: 57px;
    }
    .accordion-wrapper{
        &--active{
            .accordion-head{
                &:before{
                    top: 53.5%;
                }
            }
            .accordion-body{
                padding-top: 46px !important;
            }
        }
    }
}

.card-cart{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $anothergray;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    &__left{
        display: flex;
        align-items: center;
        width: 100%;
    }
    &__imgwrapper{
        border: 1px solid $anothergray;
        max-width: 96px;
        width: 100%;
        min-height: 128px;
        max-height: 128px;
        padding: 5px;
        display: flex;
        align-items: flex-end;
        margin-right: 24px;
        img{
            max-height: 120px;
        }
    }
    &__info{
        margin-bottom: -6px;
    }
    &__title{
        color: $text-main;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 14px;
        font-weight: 600;
    }
    &__descr{
        margin-bottom: 12px;
        display: block;
    }
    &__vendor{
        margin-bottom: 18px;
    }
    &__color{
        span{
            color: $text-main;
            font-weight: 600;
        }
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 15px;
        margin-bottom: -6px;
        width: 100%;
    }
    &__count{
        margin-right: 31px;
        display: flex;
        input,
        button{
            border: 1px solid $anothergray;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance: textfield;
        }
        input{
            width: 40px;
            height: 40px;
            text-align: center;
            border-right: 0;
            border-left: 0;
        }
        button{
            height: 40px;
            width: 25px;
            background-color: transparent;
            cursor: pointer;
            .card-cart__content{
                &--minus{
                    border-right: 1px solid transparent;
                }
            }
        }
    }
    &__size{
        display: none;
        margin-right: 24px;
        input{
            color: $text-main;
            font-weight: 600;
            width: 40px;
            height: 40px;
            border: 1px solid $anothergray;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 9px;
            padding: 0 5px;
            text-align: center;
        }
    }
    &__price{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 600;
        min-width: 109px;
        &--curr{
            font-size: 20px;
            line-height: 20px;
            color: $active;
            display: block;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            line-height: 14px;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 60.5%;
                height: 1px;
                background-color: $text-light;
            }
        }
        &--discount{
            font-size: 12px;
            line-height: 12px;
            color: $text-main;
            display: inline-block;
        }
    }
    &__bin{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    &--show-size{
        .card-cart__size{
            display: flex;
            align-items: center;
        }
    }
    .card__like{
        top: unset;
        right: 15px;
        bottom: 6px;
        z-index: 1;
        padding: 3px;
        svg{
            width: 15px;
            height: 13px;
            fill: #c0c0c0;
        }
        &--active{
            svg{
                fill: $active;
            }
        }
    }
    &__bin{
        bottom: 6px;
        right: -6px;
        padding: 3px;
        svg{
            width: 15px;
            height: 13px;
            fill: #bebebe;
            transition: fill .4s;
        }
    }
    .card__like,
    &__bin{
        &:hover{
            cursor: pointer;
            svg{
                fill: $active;
            }
        }
    }
    &--hidden{
        display: none;
    }
}

.cart-list{
    margin-bottom: 30px;
    &__item{
        display: flex;
        justify-content: space-between;
        & + &{
            margin-top: 23px;
        }
        &--price-goods{
            span{
                font-size: 18px;
                line-height: 18px;
            }
        }
        &--delivery{
            span{
                font-size: 14px;
                line-height: 14px;
            }
        }
        &--all{
            span{
                font-size: 22px;
                line-height: 22px;
            }
        }
    }
    span{
        color: $text-main;
        font-weight: 600;
    }
}