@media screen and (max-height: 800px){
    .fancybox-content{
        margin-top: 100px;
    }
}

@media screen and (max-width: 1248px){
    // Global

    .slider{
        .slider-auto{
            width: 100vw;
            transform: translate(-26px, -25px);
        }
    }
    .card{
        width: calc(20% - 32px);
        max-width: unset;
    }

    .line{
        width: calc(100% - 32px);
    }

    // Global

    // Header

    .slider--mini{
        .card{
            width: calc(50% - 32px);
        }
    }

    .header__search-wrapper{
        // .card__lined{
        //     min-width: 90px;
        //     img{
        //         width: 100%;
        //     }
        // }
        .card{
            width: unset;
        }
    }

    // Header

    // Contact + Store

    .map{
        .tabs-content{
            #map{
                width: 100vw;
                left: -16px;
            }
        }
    } 

    // Contact + Store
}

@media screen and (max-width: 1200px){
    // Header

    .dropdown__top-categories{
        margin-left: 48px;
    }

    // Header

    // Card-up

    .card-up__gallery{
        min-height: unset;
        .arrow-next,
        .arrow-prev{
            // left: 7%;
        }
    }
    
    .card-up__navigation{
        margin: 25px 16px 25px 0;
        min-width: 16%;
        // width: 20%;
        .swiper-slide{
            
        }
    }
    
    .card-up__left{
        min-width: unset;
        max-width: 70vw;
        width: 100%;
    }

    .card-up__big{
        min-height: 100% !important;
        // min-height: 656px;
        max-height: none !important;
        img,
        .swiper-slide{
            min-height: 100% !important;
        }
    }

    // Card-up

    // Lk

    .lk-history__item-number{
        .lk-history__item-text + .lk-history__item-text{
            margin-left: 20px;
        }
    }
    .lk-added{
        margin-left: 30px;
    }
    .lk-history__item-btn{
        margin-left: 70px;
    }
    .lk-added__more{
        margin-left: 15px;
    }

    // Lk
}

@media screen and (max-width: 1170px){
    // Header

    .simple-navigation__list+.simple-navigation__list{
        margin-left: 30px;
    }

    .dropdown__top-categories{
        margin-left: 30px;
    }

    .slider--mini{
        .card{
            width: 50%;
        }
    }

    // Header

    // Footer

    .footer__info-list{
        &:first-child{
            margin-right: 30px;
        }
        &:last-child{
            margin-left: 25px;
        }
    }

    .connect{
        margin-right: 43px;
    }

    .partners__item:first-child{
        margin-right: 20px;
    }

    // Footer

    // Cart

    .cart__right{
        min-width: 32%;
    }
    
    // Cart
}

@media screen and (max-width: 1100px){
    // Header

    .dropdown__slider{
        max-width: 238px;
    }

    .simple-navigation__list+.simple-navigation__list{
        margin-left: 40px;
    }

    .dropdown__top-categories{
        margin-left: 40px;
    }

    .slider--mini{
        .card{
            width: 100%;
        }
    }

    // Header

    // Index

    .home-choose{
        .home-choose__item{
            padding: 18px 16px 0;
        }
        .home-choose__gender{
            font-size: 14px;
            line-height: 14px;
            padding-bottom: 30px;
        }
    }

    // Index
    
    // Cart

    .cart__right{
        min-width: unset;
        max-width: 320px;
    }
    // Cart

    // Lk

    .lk-history,
    .prog-loyal{
        .lk__inner{
            flex-direction: column;
            padding-bottom: 50px;
        }
        .lk-aside{
            margin-right: 0;
        }
        .lk-aside__list{
            flex-direction: unset;
            margin-bottom: 18px;
        }
        .lk-aside__item{
            margin-top: 0;
            &:last-child{
                display: none;
            }
        }
        .lk-aside__item + .lk-aside__item{
            margin-left: 15px;
        }
        .subtitle{
            display: none;
        }
        .lk-aside__cabinet--mobile{
            display: flex;
        }
    }

    .lk-history__item-number{
        .lk-history__item-text + .lk-history__item-text{
            margin-left: 46px;
        }
    }
    .lk-added{
        margin-left: 60px;
    }
    .lk-history__item-btn{
        margin-left: 115px;
    }
    .lk-added__more{
        margin-left: 20px;
    }

    .prog-loyal{
        .prog-loyal__levels{
            margin-top: 8px;
        }
        .prog-loyal__descr-wrapper{
            padding-bottom: 20px;
            margin-bottom: 25px;
        }
    }

    // Lk
}

@media screen and (max-width: 1024px){
    // Header

    .subnavigation--header .subnavigation__item{
        margin-left: 16px;
    }

    // Header

    // Footer

    .footer__top{
        flex-direction: column;
        align-items: center;
    }

    .footer__info-list{
        &:first-child{
            margin-right: 0;
        }
        &:last-child{
            margin-left: 0;
        }
    }

    .partners{
        text-align: center;
    }
    
    .partners__list{
        justify-content: center;
    }

    .footer__info{
        margin-top: 33px;
        width: 100%;
        justify-content: space-around;
    }

    .footer__info-list:nth-child(2){
        transform: translateX(19px);
    }

    .footer__bottom{
        flex-direction: column;
    }

    .partners{
        order: 1;
    }

    .footer__bottom-right{
        margin-bottom: 33px;
        justify-content: space-around;
    }

    .connect{
        margin-left: unset;
        margin-right: unset;
        transform: translateX(-50px);
    }
    
    .footer__contacts{
        margin-right: 0;
        transform: translateX(17px);
    }

    .mailing{
        text-align: center;
    }

    .footer{
        .input-wrapper--mailing{
            margin: 0 auto 15px;
        }
    }

    .mailing__policy{
        max-width: 700px;
    }

    // Footer

    // Index

    .mini-cataloge{
        .card{
            width: calc(25% - 32px);
        }
    }

    // Index

    // Global

    .slider{
        .slider-auto{
            .card{
                width: calc(25vw - 32px);
            }
        }
    }

    // Global

    // Cataloge

    .cataloge__cards{
        margin-bottom: 20px;
        .card{
            width: calc(33.3% - 32px);
            text-align: center;
            .swiper-slide{
                justify-content: center;
            }
        }
    }
    .pagination__list{
        margin-bottom: 18px;
    }
    
    .page-filter__label{
        margin-left: 24px;
    }

    // Cataloge 

    // Card-up

    // .card-up__top{
    //     flex-direction: column;
    //     justify-content: center;
    // }

    // .card-up__left{
    //     justify-content: center;
    //     width: unset;
    //     margin: 0 auto 10px;
    //     max-width: 592px;
    //     .breadcrumbs{
    //         display: flex;
    //         margin-bottom: 16px;
    //     }
    // }

    // .card-up__gallery{
    //     // flex-direction: row-reverse;
    // }

    // .card-up__right{
    //     margin-left: 0;
    //     margin-bottom: 22px;
    //     .breadcrumbs{
    //         display: none;
    //     }
    // }
    

    // Card-up
    
    // Cart

    .cart__inner{
        flex-direction: column;
        align-items: center;
    }

    .cart__right{
        max-width: 490px;
        margin-left: 0;
        margin-top: 25px;
    }
    // Cart

    // 404

    .not-found{
        padding: 63px 0 60px;
    }

    .not-found__title{
        font-size: 200px;
        line-height: 142px;
        margin-bottom: 33px;
    }

    .not-found__subtitle{
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 30px;
    }
    
    .not-found__descr{
        font-size: 12px;
        line-height: 18px;
    }

    // 404
}

@media screen and (max-width: 950px){
    // Modals

    .card-modal{
        padding: 0;
        .card-modal__inner{
            padding: 16px;
            min-width: 440px;
            .fancybox-button {
                top: 11px;
                right: 11px;
            }
        }
    }

    // Modals

    // Header

    .header{
        display: none;
        &--mobile{
            display: block;
        }
    }

    .header__search-wrapper--mobile{
        margin-left: 16px;
        display: unset;
        &.header__search-wrapper--active{
            .header__searched{
                display: unset;
            }
        }
    }

    .header__location-wrapper{
        display: flex;
        align-items: center;
    }

    .header__searched{
        top: 28.5px;
    }

    .select-dropdown__language{
        transform: translateY(-3px);
        .select2-search{
            border-top: 1px solid $anothergray;
        }
    }

    // Header

    // Index

    .home-choose__item{
        min-height: 454px;
    }

    .home-choose{
        i.picon{
            transform: scale(.8) translateX(-75px) translateY(62px);
            max-width: 155%;
            max-height: unset;
        }
        .home-choose__item:last-child{
            .picon{
                transform: scale(.8) translateX(75px) translateY(62px);
            }
        }
    }

    // Index

    // Footer

    .footer__bottom-right{
        justify-content: space-evenly;
    }

    .connect,
    .footer__contacts{
        transform: unset;
    }

    // Footer

    // Lk

    .lk-history__item-number{
        .lk-history__item-text + .lk-history__item-text{
            margin-left: 20px;
        }
    }
    .lk-added{
        margin-left: 30px;
        transition: all .2s;
    }
    .lk-history__item-btn{
        margin-left: 70px;
    }
    .lk-added__more{
        margin-left: 15px;
    }
    .lk-history__item{
        padding: 16px;
    }

    // Lk

    // Global

    .slider-auto{
        .card{
            min-width: calc(33vw - 32px);
            max-width: calc(33vw - 32px);
            width: calc(33vw - 32px);
        }
        .card__top img{
            object-fit: contain;
        }
    }

    // Global

    // Cataloge

    .cataloge__aside{
        display: none;
    }

    .cataloge__cards{
        margin-bottom: 20px;
        .card{
            width: calc(25% - 32px);
            margin: 0 16px 32px;
            min-height: 430px;
            .swiper-slide{
                justify-content: center;
            }
        }
    }

    // Cataloge

    // Contact + Store

    .map__places-title{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 14px;
    }

    .map__places-phone{
        margin-bottom: 10px;
    }

    .map__places-phone,
    .map__places-time{
        font-size: 12px;
        line-height: 12px;
    }

    .map__places{
        margin: 30px 0;
    }

    .map{
        .subtitle{
            margin: 22px 0 18px;
            font-size: 14px;
            line-height: 14px;
        }
        .tabs{
            .tab{
                font-size: 13px;
                line-height: 13px;
                padding-bottom: 9px;
            }
            .tab + .tab{
                margin-left: 33px;
            }
        }
        .tabs-content{
            padding-top: 360px;
            #map{
                height: 360px;
            }
        }
    }

    // Contact + Store
}

@media screen and (max-width: 850px){
    // Modal

    .fancybox-slide{
        padding: 0;
    }
    .card-modal{
        width: 100vw;
        min-width: unset;
        .card-modal__inner{
            width: 100vw;
            min-width: unset;
        }
        .card-modal__right{
            min-width: unset;
        }
    }

    // Modal

    // Cataloge

    .cataloge__cards{
        .card{
            width: calc(33.3% - 16px);
            margin: 0 8px 22px;
        }
    }

    // Cataloge
}

@media screen and (max-width: 815px){

    // Lk

    .lk.my-data{
        .lk__inner{
            flex-direction: column;
            padding-bottom: 50px;
        }
        .lk-aside{
            margin-right: 0;
        }
        .lk-aside__list{
            flex-direction: unset;
            margin-bottom: 22px;
        }
        .lk-aside__item{
            margin-top: 0;
            &:last-child{
                display: none;
            }
        }
        .lk-aside__item + .lk-aside__item{
            margin-left: 15px;
        }
        .subtitle{
            display: none;
        }
        .lk-aside__cabinet--mobile{
            display: flex;
        }
    }

    .my-data__inner{
        margin-top: 7px;
    }

    // Lk
}


@media screen and (max-width: 800px){
    // Cataloge

    .page-filter__title{
        font-size: 14px;
        line-height: 14px;
        margin-top: 13px;
        span{
            display: unset;
        }
    }

    .page-filter__top-right,
    .page-filter__bottom{
        display: none;
    }
    
    .page-filter__bottom--mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border: none;
        .select2{
            font-size: 11px;
            line-height: 11px;
            border: 1px solid $anothergray;
            min-height: 32px;
            .select2-selection__arrow{
                right: 0;
                b{
                    margin-right: 10px;
                    margin-left: 0;
                    margin-top: 2.2px;
                }
            }
        }
        .select2-container--default .select2-selection--single{
            min-height: 32px;
            .select2-selection__rendered{
                text-align: left;
                min-width: 192px;
                padding-left: 12px;
                min-height: 32px;
                line-height: 32px;
            }
        } 
    }

    .select--relative{
        margin-top: -1px;
    }

    .page-filter__top{
        margin-bottom: 13px;
        .breadcrumbs{
            font-size: 10px;
            line-height: 10px;
        }
    }

    .cataloge__inner{
        margin-top: 14px;
    }

    .cataloge-page__all-goods{
        margin-bottom: 33px;
    }

    .page-filter__select-option--color{
        width: 16px;
        height: 16px;
        margin: 0 9px 0 0;
    }
    .filter-modal{
        .accordion-head{
            font-size: 14px;
            line-height: 14px;
            padding: 22px 0 20px;
            max-height: 55px;
        }
        .accordion-wrapper--active{
            .accordion-head{
                padding: 22px 0 10px;
            }
            .accordion-body{
                margin-bottom: 10px;
            }
        }
        .extra-controls{
            justify-content: space-between;
            margin-top: 11px;
        }
        .subtitle{
            text-align: left;
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 20px;
        }
        .fancybox-button{
            top: 20px;
            right: 24px;
            .icon-x{
                fill: $text-main;
                font-size: 12px;
            }
        }
    }
    
    // Cataloge

    // Lk

    .lk-added{
        display: none;
    }
    .lk-history__item-text{
        display: unset;
    }
    .lk-history__item-number + .lk-history__item-text{
        margin-left: 20px;
    }
    .lk-history__item-additional{
        .lk-history__item-text:first-child{
            top: -9px;
        }
    }
    .lk-history__item{
        padding: 12px 16px 8px;
    }
    .lk-history__item+.lk-history__item{
        margin-top: 8px;
    }
    .lk-history,
    .prog-loyal{
        .lk__inner{
            padding: 20px 0 32px;
        }
    }
    .prog-loyal{
        .lk__inner{
            padding-bottom: 25px;
        }
    }
    .lk-history__item--opened{
        .lk-history__item-additional{
            .lk-history__item-text:first-child{
                top: 0;
            }
            .lk-history__item-text:nth-child(2){
                margin-bottom: 5px;
            }
        }
        .lk-history__item-delivery{
            margin-top: 5px;
        }
        .lk-history__item-left{
            position: relative;
        }
        .lk-added{
            overflow-x: scroll;
            width: auto;
            white-space: nowrap;
            display: flex; 
            margin-top: 14px;
            max-width: 100%;
        }
        .lk-added__item{
            width: 64px;
            height: 80px;
        }
        .lk-history__item-btn{
            margin-top: 3px;
        }
        .lk-history__item-delivery{
            order: 1;
        }
        .lk-history__item-left{
            max-width: calc(100% - 231px);
            .lk-history__item-text--mobile{
                margin-left: 0;
                order: 1;
                margin-top: 14px;
                display: flex;
                align-items: center;
                span{
                    margin-left: 3px;
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }
        .lk-history__item-delivery{
            .lk-history__item-text--mobile{
                display: none;
            }
        }
    }

    // Lk

    // Contact + Store

    .map__places{
        flex-wrap: wrap;
    }

    .map__places-list{
        width: 100%;
        & + &{
            margin-top: 40px;
        }
    }

    // Contact + Store
}

@media screen and (max-width: 768px){
    // Global

    .slider{
        .subtitle{
            margin-bottom: 8px;
        }
    }

    .slider-auto-wrapper{
        .slider-auto{
            position: relative;
            width: 100%;
            transform: translate(0, -25px);
            .swiper-wrapper{
                margin-left: 0px !important;
            }
            .card{
                width: 100%;
                max-width: 33.3%;
                min-width: unset;
            }
        }
    }

    .card{
        min-height: 379px !important;
        &:hover{
            .card__inner{
                &::before{
                    display: none;
                }
            }
            .card__hover-panel{
                display: none;
            }
        }
        .card__title{
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 7px;
        }
        .card__descr{
            font-size: 11px;
            line-height: 14px;
            margin-bottom: 9px;
            max-width: 173px;
        }
        .card__price{
            font-size: 12px;
            line-height: 12px;
        }
        .card__price--old{
            font-size: 11px;
            line-height: 11px;
        }
        .card__discount,
        .card__new{
            width: 28px;
            height: 28px;
            font-size: 8px;
            line-height: 8px;
            top: 10px;
            &::before{
                font-size: 8px;
                line-height: 8px;
            }
        }
        .card__like{
            top: 6px;
            svg{
                height: 14px;
                font-size: 15px;
                fill: #8a8a8a;
            }
            &--active{
                svg{
                    fill: $active;
                }
            }
        }
    }

    .card__top{
        min-height: 230px;
        border: none;
        margin-bottom: 8px;
        img{
            max-height: 225px;
            margin: 0 auto;
        }
    }

    .slider-auto-wrapper{
        .arrow-next,
        .arrow-prev{
            opacity: .3;
        }
        .arrow-prev{
            left: 16px;
        }
        .arrow-next{
            left: unset;
            right: 16px;
        }
    }

    .instagram.slider-left-margin{
        margin-left: -16px;
        .swiper-wrapper{
            margin-left: 16px;
        }
        .swiper-slide-prev{
            margin-left: -16px;
        }
    }

    // Global

    // Header

    .header__searched{
        .card{
            min-height: unset !important;
        }
    }

    // Header

    // Index

    .subtitle{
        font-size: 14px;
        line-height: 14px;
    }

    .home-choose__item{
        min-height: 300px;
    }

    .home-choose__item:first-child{
        margin-right: 16px;
    }

    .home-choose{
        i.picon{
            max-width: 295%;
            transform: scale(.6) translateX(-183px) translateY(168px);
        }
        .home-choose__item:last-child{
            i.picon{
                transform: scale(.6) translateX(196px) translateY(168px);
            }
        }
    } 

    .home-choose{
        margin-bottom: 30px;
        .subnavigation__list{
            display: none;
        }
    }

    .home-banners__smaller{
        margin-left: 20px;
    }
    .home-banners__inner{
        overflow-x: scroll;
        margin-bottom: 30px;
        width: auto;
        min-width: 100vw;
        white-space: nowrap;
    }
    .home-banners__imgwrapper{
        display: inline-block;
        margin-left: 0;
        min-width: 356px;
        img{
            min-height: 300px;
            max-height: 300px;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
    .home-banners__smaller{
        .home-banners__imgwrapper{
            margin-left: 8px;
        }
    }
    .home-banners__smaller{
        flex-direction: row;
        margin-left: 0;
        img{
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .actually{
        margin-bottom: 30px;
    }

    .instagram{
        margin-bottom: 30px;
        margin-top: -30px;
        .subtitle{
            margin-bottom: 8px;
        }
        .subtitle-descr{
            margin-bottom: 14px;
        }
    }

    .mini-cataloge{
        margin: 24px 0 38px;
        z-index: 30;
        .tabs-content{
            width: 100%;
            margin-left: 0;
        }
        .slider-auto{
            display: unset;
            .card{
                display: flex;
            }
        }
        .card{
            display: none;
            min-height: 309px !important;
        }
        .tabs{
            margin-bottom: 0;
        }
        .tab{
            padding: 6px 0;
        }
        .card__like{
            top: 5px;
        }
        .cataloge__wrapper{
            margin-top: 20px;
        }
    }

    // Index

    // Cart

    .cart{
        margin-bottom: 35px;
    }

    .cart__right-title{
        display: none;
    }

    .cart__right{
        padding: 0;
        padding-top: 22px;
        border-width: 1px 0 0 0;
        font-size: 11px;
        line-height: 11px;
        max-width: unset;
    }

    .cart-list{
        margin-bottom: 20px;
    }

    .cart__economy,
    .cart__btn{
        margin-bottom: 16px;
    }

    .cart-list__item--price-goods{
        span{
            font-size: 14px;
            line-height: 14px;
        }
    }

    .cart__right .partners__list .picon{
        zoom: .65;
    }

    .cart-list__item--delivery{
        font-size: 12px;
        line-height: 12px;
    }
    
    .cart-list__item+.cart-list__item{
        margin-top: 20px;
    }

    .cart-list__item--all{
        align-items: center;
        span{
            font-size: 16px;
            line-height: 16px;
        }
    }

    .cart__economy{
        font-size: 12px;
        line-height: 12px;
        text-align: left;
    }

    .cart__promo-head{
        padding: 14px 0 !important;
        max-height: 38px;
        font-size: 11px;
        line-height: 11px;
    }

    .cart{
        .accordion-body{
            padding-top: 38px;
        }
        .accordion-wrapper--active{
            .accordion-body {
                padding-top: 38px !important;
                margin-bottom: 15px;
            }
        } 
    } 

    // Cart

    // Cataloge

    .filter-modal{
        min-height: 100vh;
        margin-top: 0;
    }

    // Cataloge 

    // Submit-order

    .submit-order{
        padding-bottom: 32px;
    }

    .only-logo{
        .logo{
            img{
                width: 120px;
            }
        }
    }

    .submit-cart{
        padding: 18px 16px 14px;
    }

    .submit-tab{
        padding: 8px 16px 14px;
        &--checked{
            padding-bottom: 21px;
        }
    }

    .submit-tab__head{
        font-size: 14px;
        line-height: 14px;
        padding-left: 32px;
        &:before{
            width: 24px;
            height: 24px;
            font-size: 12px;
            line-height: 12px;
        }
    }

    .submit-tab__body .label{
        margin-bottom: 14px;
        .input{
            margin-top: 8px;
        }
        textarea{
            padding: 8px 16px;
            margin-bottom: 2px;
            line-height: 14px;
            height: 72px;
        }
    }

    .submit-tab__checked-item + .submit-tab__checked-item{
        margin-top: 12px;
    }

    .submit-delivery__subtitle{
        font-size: 12px;
        line-height: 24px;
        transform: translateY(-4px);
        margin-bottom: 6px;
    }

    .submit-order__submit--active{
        padding: 16px;
        .btn{
            margin-top: 16px;
        }
    }

    .submit-order__submit-item + .submit-order__submit-item{
        margin-top: 14px;
    }

    .submit-order__submit-item{
        &:nth-child(1) span{
            font-size: 14px;
            line-height: 14px;
        }
        &:last-child span{
            font-size: 16px;
            line-height: 16px;
        }
    }

    .submit-tab{
        margin-top: 8px;
    }

    // Submit-order

    // Cart

    .card-cart{
        font-size: 11px;
        line-height: 11px;
    }

    .card-cart__title{
        margin-bottom: 8px;
        font-size: 12px;
    }

    .card-cart__descr{
        line-height: 14px;
    }

    .card-cart__descr,
    .card-cart__vendor{
        margin-bottom: 6px;
    }

    .card-cart__price--curr{
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 6px;
    }

    .card-cart__count {
        margin-right: 18px;
    }

    .card-cart__price{
        min-width: 92px;
        p{
           font-size: 12px;
           line-height: 12px; 
        }
    }

    .card-cart__size{
        margin-right: 18px;
    }

    .card-cart__price--discount{
        font-size: 11px;
        line-height: 11px;
    }

    .card-cart__count{
        button,
        input{
            height: 32px;
        }
        input{
            width: 32px;
        }
    }

    .card-cart__size{
        .input{
            height: 32px;
            width: 32px;
        }
    }

    // Cart

    // Lk

    .lk-aside__link{
        font-size: 11px;
        line-height: 11px;
    }

    .prog-loyal__inner{
        font-size: 11px;
    }
    
    .prog-loyal__info{
        line-height: 16px;
    }
    
    .prog-loyal__list-title{
        margin-top: 20px;
    }

    .prog-loyal__item+.prog-loyal__item{
        margin-top: 15px;
    }

    .prog-loyal__info .prog-loyal__text+.prog-loyal__text{
        margin-top: 20px;
    }

    .prog-loyal__list-wrapper{
        margin-bottom: 20px;
    }

    // Lk

    // Contact + Store

    

    // Contact + Store
}

@media screen and (max-width: 700px){
    // Modal

    .card-modal{
        .card-modal__inner{
            align-items: center;
        }
        .card-modal__title{
            font-size: 18px;
            line-height: 18px;
        }
        .card-modal__descr{
            font-size: 12px;
            line-height: 12px;
        }
        .card-modal__descr-block{
            align-items: center;
        }
        .card-modal__article{
            font-size: 11px;
            line-height: 11px;
        }
        .card__price{
            font-size: 16px;
            line-height: 16px;
        }
        .card__price--old{
            font-size: 13px;
            line-height: 13px;
        }
        .card-modal__curr-color,
        .card-modal__curr-size{
            margin-top: 16px;
        }
        .card-modal__size-list{
            margin-bottom: 21px;
        }
        .card-modal__link{
            font-size: 11px;
            line-height: 11px;
        }
        .fancybox-button{
            top: 9px;
        }
    }

    // Modal

    // Footer

    .footer__dropdown-wrapper--mobile{
        display: unset;
    }

    .footer:not(.footer__dropdown-wrapper){
        .footer__info,
        .footer__bottom-right{
            display: none;
        }
    }

    // Footer

    // Index

    .home-choose__item{
        min-height: 168px;
    }

    .home-choose__item:first-child{
        margin-right: 8px;
    }

    .home-choose{
        i.picon{
            transform: scale(.33) translateX(-597px) translateY(510px);
        }
        .home-choose__item:last-child{
            i.picon{
                transform: scale(.33) translateX(597px) translateY(510px);
            }
        }
    } 

    .home-choose{
        .subnavigation__list{
            display: none;
        }
    }

    .mini-cataloge{
        .slider-auto{
            .swiper-wrapper{
                z-index: 20;
                margin-left: 0 !important;
            }
        }
    }

    // Index
}

@media screen and (max-width: 650px){
    // Modals

    .card-modal__inner{
        flex-direction: column;
    }
    .card-modal__right{
        margin-left: 0;
        width: 100%;
        margin-top: 21px;
    }

    // Modals

    // Cataloge

    .filter-modal__btn{
        width: 100%;
        font-size: 10px;
        line-height: 10px;
        height: 40px;
    }

    .filter-modal .filter-modal__btn:last-child{
        margin-left: 0;
        margin-top: 8px;
    }

    .cataloge__cards{
        .card{
            width: calc(50% - 16px);
            margin: 0 8px 22px;
            min-height: 305px !important;
            .slider-card,
            .swiper-wrapper,
            .swiper-slide{
                min-height: 100px;
                max-height: 200px;
                img{
                    object-fit: contain;
                    max-height: 100%;
                }
            }
        }
    }

    // Cataloge

    // Cart

    .cart{
        .subtitle{
            margin: 22px 0 0;
        }
    }

    .card-cart{
    }

    .card-cart,
    .card-cart__right{
        flex-direction: column;
    }
    
    .card-cart--show-size{
        .card-cart__left{
            .card-cart__size{
                display: flex;
                align-items: center;
            }
        }
        .card-cart__right{
            .card-cart__size{
                display: none;
            }
        }
        .card-cart__count{
            margin-top: 18px;
        }
    }
    
    .card-cart__right{
        margin-left: 104px;
        width: unset;
        align-items: flex-start;
    }

    .card__like,
    .card-cart__bin{
        position: static;
        margin-right: 0;
    }

    .slider-auto{
        .card__like,
        .card-cart__bin{
            position: absolute;
        }
    }
    
    .card__like{
        margin-left: auto;
    }

    .card-cart__count{
        width: 100%;
        margin-right: 0;
        align-items: center;
        margin-top: 9px;
    }

    .card-cart__imgwrapper{
        border: none;
        max-width: 80px;
        min-height: 100px;
        display: flex;
        justify-content: center;
        img{
            max-height: 90px;
        }
    }

    .card-cart__price{
        flex-direction: row;
        margin-top: 20px;
    }
    
    .card-cart__price--curr{
        margin-bottom: 0;
        margin-right: 12px;
    }

    .card-cart__size{
        margin-top: 18px;
        .input{
            width: unset;
            height: unset;
            max-width: 16px;
            padding: 0;
            border: none;
        }
    }

    // Cart
}

@media screen and (max-width: 600px){
    // Global

    .mobile-hide-slider{
        display: none;
    }

    // Global

    // Footer

    .footer{
        padding: 30px 0 24px;
    }

    .mailing,
    .partners{
        text-align: left;
    }

    .footer .input-wrapper--mailing{
        margin: 0 0 15px;
    }

    .partners__list{
        justify-content: flex-end;
        align-items: center;
    }

    .partners__item:first-child{
        margin-right: auto;
        margin-left: 0;
        .icon{
            height: 24px;
            width: 65px;
        }
    }

    .footer{
        .partners .picon{
            filter: unset;
            opacity: 1;
            zoom: .8;
        }
        .mailing__descr,
        .mailing__form{
            margin: 0 0 10px;;
        }
    }

    .mailing__form{
        max-width: unset;
        .btn{
            max-height: 40px;
            font-size: 8px;
        }
    }

    .mailing__input{
        margin-right: 0;
        border-right: none;
        max-height: 40px;
        font-size: 11px;
        &::placeholder{
            font-size: 11px;
        }
    }

    .footer__top{
        margin-bottom: 22px;
    }

    .footer__dropdown-wrapper{
        margin-top: 15px;
    }

    .footer__copyright{
        font-size: 11px;
        line-height: 11px;
    }

    .mailing__title{
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 16px;
    }

    .mailing__policy{
        font-size: 10px;
        line-height: 14px;
    }
    
    // Footer

    // Submit-order

    .submit-order .subtitle{
        font-size: 14px;
        line-height: 14px;
    }

    .only-logo{
        .logo{
            img{
                width: 87px;
            }
        }
    }

    .submit-cart{
        font-size: 11px;
        line-height: 11px;
        align-items: flex-start;
    }

    .submit-cart__price{
        span{
            font-size: 14px;
            line-height: 14px;
        }
    }

    .submit-cart__count{
        margin-bottom: 10px;
        p{
            display: none;
        }
    }

    .submit-cart__link{
        margin-top: 10px;
    }

    .submit-tab__checked{
        flex-wrap: wrap;
        .submit-tab__checked-link{
            margin-top: 18px;
        }
    }

    .submit-delivery{
        .submit-tab__body{
            margin-left: 0;
        }
        .label--have-checkbox{
            margin-bottom: 20px;
        }
    } 

    .submit-pay{
        .submit-pay__top,
        .submit-pay__bottom{
            flex-direction: column;
            align-items: unset;
            .label--have-checkbox{
                margin-left: 0;
                margin-top: 20px;
                &:first-child{
                    margin-top: 0;
                }
                .picon{
                    zoom: .78;
                }
                &:nth-child(2){
                    transform: unset;
                }
            }
        }
        .submit-pay__top{
            margin-bottom: 20px;
        }
    }


    .submit-order__submit-list{
        font-size: 11px;
        span{
            font-size: 14px;
        }
    }

    // Submit-order


    // Lk

    .lk-aside__cabinet--mobile{
        .link{
            font-size: 11px;
            line-height: 11px;
        }
    }

    .lk-aside__list{
        overflow-x: scroll;
        width: auto;
        white-space: nowrap;
        padding-bottom: 5px;
    }

    .lk-history{

        .lk-history__item-text{
            font-size: 11px;
            line-height: 11px;
            span{
                font-size: 12px;
            }
        }

        .lk-history__item-text--mobile{
            font-size: 11px;
        }

        .lk-history__item-delivery{
            .lk-history__item-text--mobile{
                display: block;
                margin-top: 3px;
                span{
                    font-size: 14px;
                    line-height: 14px;
                    color: $text-main;
                    font-weight: 600;
                }
            }
        }

        .lk-history__item-additional{
            .lk-history__item-text{
                display: none;
            }
        }
        
        .lk-history__item-right{
            position: unset;
        }

        .lk-history__item{
            position: relative;
        }
        .lk-history__item-btn{
            position: absolute;
            right: 16px;
            margin-left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .lk-history__item--opened{
            position: relative;
            .lk-history__item-additional{
                .lk-history__item-text{
                    display: none;
                }
            }
            .lk-history__item-left{
                max-width: 100%;
            }
            .lk-history__item-btn{
                top: 16px;
            }
        }
    }

    .lk-history__item-text--mobile-status{
        padding-bottom: 11px;
    }

    .prog-loyal__level-path{
        display: none;
    }

    .prog-loyal{
        .prog-loyal__levels{
            margin-bottom: 20px;
            .prog-loyal__level + .prog-loyal__level{
                margin-left: 38px;
            }
            .prog-loyal__level:after{
                width: 24px;
                left: -33px;
            }
        }
        .prog-loyal__curr{
            font-size: 12px;
            margin-bottom: 14px;
            span{
                font-size: 14px;
            }
        }
        .prog-loyal__descr{
            font-size: 11px;
            line-height: 11px;
            span{
                font-size: 11px;
                line-height: 11px;
            }
        }
    }

    .my-data__form{
        max-width: unset;
        .label{
            flex-direction: column;
            align-items: unset;
            margin-bottom: 14px;
            .input{
                margin-top: 8px;
                width: 100%;
                max-width: unset;
                min-width: unset;
            }
            span{
                max-width: unset;
            }
            &#data-name-surname{
                .input{
                    width: 50%;
                }
                .input + .input{
                    margin-left: 8px;
                }
                span{
                    display: block;
                }
            }
            .label--profile__inner{
                display: flex;
            }
            &#data-gender{
                span:not(.checkbox-style){
                    width: unset;
                    margin-right: 21px;
                }
                flex-direction: row;
            }
            &#data-born{
                .data-born__inner{
                    max-width: 100%;
                    margin-top: 8px;
                    justify-content: space-between;
                }
                .select2{
                    margin-right: 0;
                    min-width: calc(28% - 8px) !important;
                    max-width: calc(28% - 8px) !important;
                    width: 100% !important;
                    &:nth-child(4){
                        min-width: 44% !important;
                        max-width: 44% !important;
                    }
                }
                .select2-selection{
                    width: 100%;
                }
            }
        }  
    } 
    
    .lk.my-data .lk__inner{
        padding-bottom: 32px;
    }

    // Lk

    // 404

    .not-found{
        padding: 33px 0 30px;
    }

    .not-found__title{
        font-size: 100px;
        line-height: 75px;
        margin-bottom: 13px;
    }

    .not-found__subtitle{
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 20px;
    }
    
    .not-found__descr{
        font-size: 10px;
        line-height: 16px;
    }

    // 404
}

@media screen and (max-width: 545px){
    // Global
    
    .slider-auto-wrapper{
        .slider-auto{
            .card{
                max-width: 50%;
                .card__discount, .card__new{
                    left: 8px;
                    top: 8px;
                }
                .card__like{
                    top: 5.5px;
                }
            }
        }
    }

    .mini-cataloge{
        margin: 24px 0 -36px;
    }
    
    // Global
    
    // Modals

    .join-modal{
        padding: 0;
        .fancybox-button{
            right: 16px;
            top: 24.5px;
            .icon{
                fill: $text-main;
                font-size: 12px;
            }
        }
        .join-modal__inner{
            padding: 52px 16px 32px;
            min-height: 100vh;
        }
        .tabs{
            margin-bottom: 22px;
            .tab{
                font-size: 14px;
                line-height: 14px;
                padding-bottom: 12px;
            }
        }
        .btn{
            padding: 0;
            width: 100%;
        }
        #modal-login{
            .btn{
                width: unset;
                padding: 0 64px;
            }
            .connect__link{
                background-color: #231f20;
                &:hover{
                    background-color: #fff;
                }
            }
            .join-modal__actions{
                .link{
                    font-size: 11px;
                    line-height: 11px;
                }
            }
        }
    }

    .fancybox-slide{
        padding: 0;
    }

    // Modals

    // Index

    .home-choose .home-choose__gender{
        padding-bottom: 14px;
        position: relative;
        z-index: 7;
    }

    .home-choose__item{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            box-shadow: 0px -57px 23px -19px rgba(#dff3f4, 1) inset;
        }
        &:last-child{
            &:after{
                box-shadow: 0px -57px 23px -19px rgba(#D2D4DF, 1) inset;
            }
        }
    }

    .home-banners__imgwrapper{
        min-width: 256px;
        img{
            max-height: 136px;
            min-height: 136px;
            object-fit: cover;
        }
    }

    .actually{
        .swiper-slide-active,
        .swiper-slide-next,
        .swiper-slide-prev{
            min-width: 126px;
            .card-big__title{
                display: unset;
            }
            img{
                min-height: 126px;
            }
        }
        .card-big__title{
            display: none;
        }
    }

    .actually.slider-left-margin{
        margin-left: -16px;
        .swiper-wrapper{
            margin-left: 16px;
        }
        .swiper-slide-prev{
            margin-left: -16px;
        }
    }
    
    .actually,
    .instagram{
        .swiper-container{
            width: 100vw;
        }
        .swiper-slide{
            min-width: 128px;
        }
    }

    // Index

    // Lk
    
    .my-data__form-footer{
        flex-direction: column;
        .btn{
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    // Lk

    // Contact + Store

    .map{
        .btn--white{
            font-size: 8px;
            line-height: 8px;
        }
    }

    // Contact + Store
}

@media screen and (max-width: 460px){
    // Modals

    .fancybox-content{
        margin-top: 0;
    }
    .join-modal__inner{
        width: 100vw;
        min-width: unset;
    }

    // Modals

    .map{
        .tabs-content{
            padding-top: 225px;
            #map{
                height: 225px;
            }
        }
        .tabs-wrapper{
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        .btn--white{
            width: 100%;
            margin-top: 22px;
        }
    }

    // Contact + Store
}

@media screen and (max-width: 425px){
    // Modal

    .card-modal{
        .card-modal__inner{
            padding-top: 28px;
        }
        .fancybox-button{
            right: 0;
            top: 0;
        }
    }

    // Modal

    // Header

    .header--mobile{
        .header__navigation-list{
            justify-content: space-between;
        }
    }
    
    // Header

    // Footer

    .footer{
        .partners__item:last-child{
            display: none;
        }
    }

    .mailing__form{
        .btn{
            padding: 0 13px;
        }
    }

    // Footer

    // Index

    .home-choose .home-choose__item{
        .picon{
            max-width: 400%;
        }
    }

    .mini-cataloge{
        .tabs{
            overflow-x: scroll;
            width: auto;
            min-width: calc(100vw - 32px);
            white-space: nowrap;
            transform: translateX(-16px);
            text-align: left;
            margin-left: 16px;
            .tab + .tab{
                margin-left: 20px;
            }
        }
    }

    // Index

    // Lk

    .lk-history__item{
        padding: 10px 16px;
    }

    .lk-history__item-number{
        flex-direction: column;
        align-items: unset;
        .lk-history__item-text{
            display: flex;
            align-items: center;
            span{
                margin-left: 3px;
            }
        }
        .lk-history__item-text+.lk-history__item-text{
            margin-left: 0;
        }
    }
    .lk-history__item-left{
        flex-direction: column;
        align-items: unset;
        .lk-history__item-text--mobile{
            margin-left: 0;
            display: flex;
            align-items: center;
            span{
                margin-left: 3px;
            }
        }
    }

    .lk-history{
        .lk-history__item-btn{
            top: 14px;
            transform: unset;
            margin-top: 0;
        }
    }

    .lk-history{
        .lk-history__item-delivery{
            margin-top: 7px;
            .lk-history__item-text{
                white-space: unset;
                display: block;
                margin-bottom: 4px;
                span{
                    line-height: 17px;
                }
            }
            .lk-history__item-text--mobile{
                margin-top: 8px;
            }
        }
    }

    // Lk

    // Contact + Store

    .map__places-item{
        &:before{
            top: -5px;
        }
        &:after{
            top: 4.5px;
        }
    }

    // Contact + Store
}

@media screen and (max-width: 390px) {
    // Global

    .slider-auto{
        .subtitle{
            margin-bottom: 0;
        }
    }

    .card{
        min-height: 346px !important;
        .card__top{
            min-height: 197px;
            img{
                max-height: 186px;
                // max-height: 100%;
                // max-width: unset;
            }
        }
    }

    .cataloge__cards .card{
        min-height: 300px !important;
    }

    // Global

    // Index

    .home-banners{
        margin-top: -60px;
    }

    .mini-cataloge{
        .slider-auto{
            .card{
                min-height: 275px !important;
                margin: 18px 0 16px;
            }
            .card__top{
                img{
                    width: 100%;
                    min-height: 186px;
                }
            }
        }
    } 

    // Index

    // Contact + Store



    // Contact + Store
}