@import '_vars.scss';
@import '_fonts.scss';
@import '_global.scss';

.home-choose {
    margin-top: 16px;
    margin-bottom: 80px;
    &__items {
        display: flex;
        justify-content: space-between;
    }

    .subnavigation__list{
        display: none;
    }

    &__item {
        display: flex;
        align-items: flex-end;
        position: relative;
        padding: 18px 48px 0;
        min-height: 552px;
        width: 50%;
        &:first-child{
            justify-content: flex-end;
            margin-right: 32px;
            background-color: #dff3f4;
            .picon{
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &:last-child{
            justify-content: flex-start;
            background-color: #d7d9e5;
            .picon{
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .subnavigation__list{
                text-align: right;
            }
        }
        &--active{
            .subnavigation__list{
                display: unset;
            }
        }
    }
    &__gender {
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 0 45px;
        color: $text-main;
    }
    .picon{
        max-width: 100%;
        max-height: 100%;
    }
}

.home-banners{
    &__inner{
        margin: 0 0 80px;
        display: flex;
    }
    &__imgwrapper{
        img{
            height: 100%;
        }
    }
    &__smaller{
        margin-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .banners__imgwrapper:first-child{
            margin-bottom: 32px;
        }
    }
}

.actually{
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 16px;
    color: $text-main;
    font-weight: 600;
    .card-big{
        img{
            margin-bottom: 28px;
            max-height: 296px;
        }
    }
    .arrow-prev,
    .arrow-next{
        top: 50%;
    }
}

.mini-cataloge{
    margin-bottom: 80px;
    .tabs{
        text-align: center;
        margin-bottom: 44px;
    }
    .tab{
        padding: 9px 0;
        display: inline-block;
        margin-left: 42px;
        color: $text-light;
        &:before{
            background-color: $text-light; 
        }
        &--active{
            color: $text-main;
            &:before{
                background-color: $text-main;
            }
        }
        &:first-child{
            margin-left: 0;
        }
    }
    .card{
        width: calc(20% - 32px);
    }
}

.instagram{
    margin-bottom: 80px;
    .subtitle{
        margin-bottom: 14px;
    }
    .subtitle-descr{
        margin-bottom: 28px;
    }
    .arrow-prev,
    .arrow-next{
        top: 58%;
    }
}

@import '_cataloge.scss';
@import '_404.scss';
@import '_cart.scss';
@import '_card-up.scss';
@import '_submit.scss';
@import '_map.scss';
@import '_lk.scss';
@import '_media.scss';