// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$man-banner-name: 'man-banner';
$man-banner-x: 0px;
$man-banner-y: 0px;
$man-banner-offset-x: 0px;
$man-banner-offset-y: 0px;
$man-banner-width: 592px;
$man-banner-height: 504px;
$man-banner-total-width: 1189px;
$man-banner-total-height: 570px;
$man-banner-image: '../sprites/sprite.png';
$man-banner: (0px, 0px, 0px, 0px, 592px, 504px, 1189px, 570px, '../sprites/sprite.png', 'man-banner', );
$mastercard-name: 'mastercard';
$mastercard-x: 85px;
$mastercard-y: 538px;
$mastercard-offset-x: -85px;
$mastercard-offset-y: -538px;
$mastercard-width: 54px;
$mastercard-height: 32px;
$mastercard-total-width: 1189px;
$mastercard-total-height: 570px;
$mastercard-image: '../sprites/sprite.png';
$mastercard: (85px, 538px, -85px, -538px, 54px, 32px, 1189px, 570px, '../sprites/sprite.png', 'mastercard', );
$paybox-name: 'paybox';
$paybox-x: 0px;
$paybox-y: 538px;
$paybox-offset-x: 0px;
$paybox-offset-y: -538px;
$paybox-width: 80px;
$paybox-height: 32px;
$paybox-total-width: 1189px;
$paybox-total-height: 570px;
$paybox-image: '../sprites/sprite.png';
$paybox: (0px, 538px, 0px, -538px, 80px, 32px, 1189px, 570px, '../sprites/sprite.png', 'paybox', );
$visa-name: 'visa';
$visa-x: 167px;
$visa-y: 509px;
$visa-offset-x: -167px;
$visa-offset-y: -509px;
$visa-width: 66px;
$visa-height: 22px;
$visa-total-width: 1189px;
$visa-total-height: 570px;
$visa-image: '../sprites/sprite.png';
$visa: (167px, 509px, -167px, -509px, 66px, 22px, 1189px, 570px, '../sprites/sprite.png', 'visa', );
$women-banner-name: 'women-banner';
$women-banner-x: 597px;
$women-banner-y: 0px;
$women-banner-offset-x: -597px;
$women-banner-offset-y: 0px;
$women-banner-width: 592px;
$women-banner-height: 504px;
$women-banner-total-width: 1189px;
$women-banner-total-height: 570px;
$women-banner-image: '../sprites/sprite.png';
$women-banner: (597px, 0px, -597px, 0px, 592px, 504px, 1189px, 570px, '../sprites/sprite.png', 'women-banner', );
$zoodpay-name: 'zoodpay';
$zoodpay-x: 0px;
$zoodpay-y: 509px;
$zoodpay-offset-x: 0px;
$zoodpay-offset-y: -509px;
$zoodpay-width: 162px;
$zoodpay-height: 24px;
$zoodpay-total-width: 1189px;
$zoodpay-total-height: 570px;
$zoodpay-image: '../sprites/sprite.png';
$zoodpay: (0px, 509px, 0px, -509px, 162px, 24px, 1189px, 570px, '../sprites/sprite.png', 'zoodpay', );
$man-banner-2x-name: 'man-banner@2x';
$man-banner-2x-x: 0px;
$man-banner-2x-y: 0px;
$man-banner-2x-offset-x: 0px;
$man-banner-2x-offset-y: 0px;
$man-banner-2x-width: 1184px;
$man-banner-2x-height: 1008px;
$man-banner-2x-total-width: 2378px;
$man-banner-2x-total-height: 1140px;
$man-banner-2x-image: '../sprites/sprite@2x.png';
$man-banner-2x: (0px, 0px, 0px, 0px, 1184px, 1008px, 2378px, 1140px, '../sprites/sprite@2x.png', 'man-banner@2x', );
$mastercard-2x-name: 'mastercard@2x';
$mastercard-2x-x: 170px;
$mastercard-2x-y: 1076px;
$mastercard-2x-offset-x: -170px;
$mastercard-2x-offset-y: -1076px;
$mastercard-2x-width: 108px;
$mastercard-2x-height: 64px;
$mastercard-2x-total-width: 2378px;
$mastercard-2x-total-height: 1140px;
$mastercard-2x-image: '../sprites/sprite@2x.png';
$mastercard-2x: (170px, 1076px, -170px, -1076px, 108px, 64px, 2378px, 1140px, '../sprites/sprite@2x.png', 'mastercard@2x', );
$paybox-2x-name: 'paybox@2x';
$paybox-2x-x: 0px;
$paybox-2x-y: 1076px;
$paybox-2x-offset-x: 0px;
$paybox-2x-offset-y: -1076px;
$paybox-2x-width: 160px;
$paybox-2x-height: 64px;
$paybox-2x-total-width: 2378px;
$paybox-2x-total-height: 1140px;
$paybox-2x-image: '../sprites/sprite@2x.png';
$paybox-2x: (0px, 1076px, 0px, -1076px, 160px, 64px, 2378px, 1140px, '../sprites/sprite@2x.png', 'paybox@2x', );
$visa-2x-name: 'visa@2x';
$visa-2x-x: 334px;
$visa-2x-y: 1018px;
$visa-2x-offset-x: -334px;
$visa-2x-offset-y: -1018px;
$visa-2x-width: 132px;
$visa-2x-height: 44px;
$visa-2x-total-width: 2378px;
$visa-2x-total-height: 1140px;
$visa-2x-image: '../sprites/sprite@2x.png';
$visa-2x: (334px, 1018px, -334px, -1018px, 132px, 44px, 2378px, 1140px, '../sprites/sprite@2x.png', 'visa@2x', );
$women-banner-2x-name: 'women-banner@2x';
$women-banner-2x-x: 1194px;
$women-banner-2x-y: 0px;
$women-banner-2x-offset-x: -1194px;
$women-banner-2x-offset-y: 0px;
$women-banner-2x-width: 1184px;
$women-banner-2x-height: 1008px;
$women-banner-2x-total-width: 2378px;
$women-banner-2x-total-height: 1140px;
$women-banner-2x-image: '../sprites/sprite@2x.png';
$women-banner-2x: (1194px, 0px, -1194px, 0px, 1184px, 1008px, 2378px, 1140px, '../sprites/sprite@2x.png', 'women-banner@2x', );
$zoodpay-2x-name: 'zoodpay@2x';
$zoodpay-2x-x: 0px;
$zoodpay-2x-y: 1018px;
$zoodpay-2x-offset-x: 0px;
$zoodpay-2x-offset-y: -1018px;
$zoodpay-2x-width: 324px;
$zoodpay-2x-height: 48px;
$zoodpay-2x-total-width: 2378px;
$zoodpay-2x-total-height: 1140px;
$zoodpay-2x-image: '../sprites/sprite@2x.png';
$zoodpay-2x: (0px, 1018px, 0px, -1018px, 324px, 48px, 2378px, 1140px, '../sprites/sprite@2x.png', 'zoodpay@2x', );
$spritesheet-width: 1189px;
$spritesheet-height: 570px;
$spritesheet-image: '../sprites/sprite.png';
$spritesheet-sprites: ($man-banner, $mastercard, $paybox, $visa, $women-banner, $zoodpay, );
$spritesheet: (1189px, 570px, '../sprites/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 2378px;
$retina-spritesheet-height: 1140px;
$retina-spritesheet-image: '../sprites/sprite@2x.png';
$retina-spritesheet-sprites: ($man-banner-2x, $mastercard-2x, $paybox-2x, $visa-2x, $women-banner-2x, $zoodpay-2x, );
$retina-spritesheet: (2378px, 1140px, '../sprites/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$man-banner-group-name: 'man-banner';
$man-banner-group: ('man-banner', $man-banner, $man-banner-2x, );
$mastercard-group-name: 'mastercard';
$mastercard-group: ('mastercard', $mastercard, $mastercard-2x, );
$paybox-group-name: 'paybox';
$paybox-group: ('paybox', $paybox, $paybox-2x, );
$visa-group-name: 'visa';
$visa-group: ('visa', $visa, $visa-2x, );
$women-banner-group-name: 'women-banner';
$women-banner-group: ('women-banner', $women-banner, $women-banner-2x, );
$zoodpay-group-name: 'zoodpay';
$zoodpay-group: ('zoodpay', $zoodpay, $zoodpay-2x, );
$retina-groups: ($man-banner-group, $mastercard-group, $paybox-group, $visa-group, $women-banner-group, $zoodpay-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
