| <a class="card card--haveDiscount swiper-slide" href='#'>
|                        <span class="card__top">
|                            <span class="card__discount">
|                                80%
|                            </span>
|                            <span class="card__like">
|                                <svg>
|                                    <use xlink:href="temp/icons/sprite.svg#save"></use>
|                                </svg>
|                            </span>
|                            <img src="temp/novelty-week-1.jpg" alt="">
|                        </span>
|                        <span class="card__title">
|                            Isabel Marant 
|                        </span>
|                        <span class="card__descr">
|                            Розовый комбинезон
|                            Etundra
|                        </span>
|                        <span class="card__price">
|                            <span class="card__price--old">
|                                109 990 ₸
|                            </span>
|                            29 995 ₸
|                        </span>
|                    </a>