a.card.card-search.card--haveDiscount(
    href='#'
)
    span.card__lined
        img(
            src='temp/card-search-1.jpg'
        )
    span.card-search__content
        span.card__title Valentino
        span.card__descr Укороченные расклешенные брюки
        span.card__price
            span.card__price--old 65 990 ₸
            | 32 995 ₸  