a.card.card--haveDiscount.swiper-slide(
    href='#'
)
    span.card__top
        span.card__discount 70%
        span.card__like
            svg
                use(
                    xlink:href="assets/sprites/sprite.svg#save"
                )
        img(src='temp/novelty-week-2.jpg')
    span.card__title
        | Valentino
    span.card__descr
        | Укороченные расклешенные брюки
    span.card__price
        span.card__price--old 65 990 ₸
        | 32 995 ₸