.card-modal.card-modal--haveDiscount.modal-parent(
    style="position:absolute; left:-5000px;"
    id='card-modal-1'
)
    .card-modal__inner.modal-inner
        .card-modal__left.slider
            .slider.slider--card-modal.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="temp/preview-1.jpg")
                    .swiper-slide
                        img(src="temp/preview-1.jpg")
                    .swiper-slide
                        img(src="temp/preview-1.jpg")
            .arrow-prev
            .arrow-next
        .card-modal__right
            p.card-modal__title СВИТЕР УДЛИНЕННЫЙ MM6
            .card-modal__descr-block
                p.card-modal__descr Бежевый свитер
                p.card-modal__article Артикул: 255461
            span.card__price
                span.card__price--old 65 990 ₸
                | 32 995 ₸
            p.card-modal__curr-color Выберите цвет:
                span Светлобежевый
            .card-modal__colors-list
                label.label--have-checkbox.label--colorpick
                    input.checkbox(type="radio" name='modal-1-colorpick' checked)
                    span.checkbox-style(style='background-color: #ddc5b9')
                label.label--have-checkbox.label--colorpick
                    input.checkbox(type="radio" name='modal-1-colorpick')
                    span.checkbox-style(style='background-color: #5d5d62')
                label.label--have-checkbox.label--colorpick
                    input.checkbox(type="radio" name='modal-1-colorpick')
                    span.checkbox-style(style='background-color: #c5c5c8')
            p.card-modal__curr-size Выберите цвет:
                a(href='#') Таблица размеров
            .card-modal__size-list
                label.label--have-checkbox.label--sizepick
                    input.checkbox(type="radio" name='modal-1-sizepick' checked)
                    span.checkbox-style S
                label.label--have-checkbox.label--sizepick
                    input.checkbox(type="radio" name='modal-1-sizepick' disabled)
                    span.checkbox-style M
                label.label--have-checkbox.label--sizepick
                    input.checkbox(type="radio" name='modal-1-sizepick')
                    span.checkbox-style L
                label.label--have-checkbox.label--sizepick
                    input.checkbox(type="radio" name='modal-1-sizepick')
                    span.checkbox-style XL
            .card-modal__buttons
                button.card__cart-btn.btn добавить в корзину
                span.card__like
                    svg.icon.icon-save
                        use(
                            xlink:href="assets/sprites/sprite.svg#save"
                        )
            a.card-modal__link(href='#')
                svg.icon.icon-box
                    use(
                        xlink:href="assets/sprites/sprite.svg#box"
                    )
                span.link Проверить наличие в магазине
.card-modal.modal-parent(
    style="position:absolute; left:-5000px;"
    id='card-modal-2'
)
    .card-modal__inner.modal-inner
        .card-modal__left.slider
            .slider.slider--card-modal.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        img(src="temp/preview-1.jpg")
                    .swiper-slide
                        img(src="temp/preview-1.jpg")
                    .swiper-slide
                        img(src="temp/preview-1.jpg")
            .arrow-prev
            .arrow-next
        .card-modal__right
            p.card-modal__title СВИТЕР УДЛИНЕННЫЙ MM6
            .card-modal__descr-block
                p.card-modal__descr Бежевый свитер
                p.card-modal__article Артикул: 255461
            span.card__price
                span.card__price--old 65 990 ₸
                | 32 995 ₸
            p.card-modal__curr-color Выберите цвет:
                span Светлобежевый
            .card-modal__colors-list
                label.label--have-checkbox.label--colorpick
                    input.checkbox(type="radio" name='modal-2-colorpick' checked)
                    span.checkbox-style(style='background-color: #ddc5b9')
                label.label--have-checkbox.label--colorpick
                    input.checkbox(type="radio" name='modal-2-colorpick')
                    span.checkbox-style(style='background-color: #5d5d62')
                label.label--have-checkbox.label--colorpick
                    input.checkbox(type="radio" name='modal-2-colorpick')
                    span.checkbox-style(style='background-color: #c5c5c8')
            p.card-modal__curr-size Выберите цвет:
                a(href='#') Таблица размеров
            .card-modal__size-list
                label.label--have-checkbox.label--sizepick
                    input.checkbox(type="radio" name='modal-2-sizepick' checked)
                    span.checkbox-style S
                label.label--have-checkbox.label--sizepick
                    input.checkbox(type="radio" name='modal-2-sizepick' disabled)
                    span.checkbox-style M
                label.label--have-checkbox.label--sizepick
                    input.checkbox(type="radio" name='modal-2-sizepick')
                    span.checkbox-style L
                label.label--have-checkbox.label--sizepick
                    input.checkbox(type="radio" name='modal-2-sizepick')
                    span.checkbox-style XL
            .card-modal__buttons
                button.card__cart-btn.btn добавить в корзину
                span.card__like
                    svg.icon.icon-save
                        use(
                            xlink:href="assets/sprites/sprite.svg#save"
                        )
            a.card-modal__link(href='#')
                svg.icon.icon-box
                    use(
                        xlink:href="assets/sprites/sprite.svg#box"
                    )
                span.link Проверить наличие в магазине