aside.cataloge__aside.aside
    ul.aside__list
        li.aside__item
            a.aside__link.active-line.hover-line(href='#')
                | Вся одежда  
                span 3256
        li.aside__item
            a.aside__link.hover-line.aside__link--sale(href='#')
                | SALE
                span 245
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Блузка
                span 136
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Брюки
                span 124
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Водолазка
                span 567
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Джинсы
                span 88
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Дубленка
                span 24
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Жилет
                span 124
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Кардиган
                span 67
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Куртка
                span 78
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Пальто
                span 101
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Парка
                span 86
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Пиджак
                span 124
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Платье
                span 456
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Платье-Поло
                span 345
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Плащ
                span 16
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Пуловер
                span 79
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Рубашка
                span 341
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Свитер
                span 224
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Свитшот
                span 124
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Толстовка
                span 255
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Футболка
                span 456
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Шорты
                span 124
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Шуба
                span 45
        li.aside__item
            a.aside__link.hover-line(href='#')
                | Юбка
                span 144