ul.connect__list
    li.connect__item
        a.connect__link(href='#')
            svg.icon.icon-facebook
                use(xlink:href="assets/sprites/sprite.svg#facebook")
    li.connect__item
        a.connect__link(href='#')
            svg.icon.icon-vk
                use(xlink:href="assets/sprites/sprite.svg#vk")
    li.connect__item
        a.connect__link(href='#')
            svg.icon.icon-ok
                use(xlink:href="assets/sprites/sprite.svg#ok")
    li.connect__item.cant-login
        a.connect__link(href='#')
            svg.icon.icon-instagram
                use(xlink:href="assets/sprites/sprite.svg#instagram")
    li.connect__item.cant-login
        a.connect__link(href='#')
            svg.icon.icon-youtube
                use(xlink:href="assets/sprites/sprite.svg#youtube")
    li.connect__item.cant-login
        a.connect__link(href='#')
            svg.icon.icon-telegram
                use(xlink:href="assets/sprites/sprite.svg#telegram")
    li.connect__item
        a.connect__link(href='#')
            svg.icon.icon-twitter
                use(xlink:href="assets/sprites/sprite.svg#twitter")