| <header class="header">
|     <div class="header__top">
|         <div class="container">
|             <div class="header__top-inner">
|                 <div class='header__location-wrapper'>
|                   <svg class="icon icon-middle icon-pin">
|                      <use xlink:href="assets/sprites/sprite.svg#pin"></use>
|                   </svg>
|                   <select class="header__location select select--language">
|                       <option value="astana">Астана</option>
|                       <option value="karaganda">Караганда</option>
|                       <option value="pavlodar">Павлодар</option>
|                   </select>
|                 </div>
|                 <div class="header__contact">
|                     <svg class="icon icon-middle icon-phone">
|                         <use xlink:href="assets/sprites/sprite.svg#phone"></use>
|                     </svg>
|                     <a class='hover-line hover-line--thin' href="tel:+84954525622">
|                         8 495 452-56-22
|                     </a>
|                     /
|                     <a class='hover-line hover-line--thin' href="tel:+88003580000">
|                         8 800 358-00-00
|                     </a>
|                 </div>
|             </div>
|         </div>
|     </div>
|     <div class="header__middle">
|         <div class="container">
|             <div class="header__middle-wrapper">
|                 <nav class="header__navigation">
|                     <ul class="header__navigation-list">
|                         <li class="header__navigation-item">
|                             <a class="header__navigation-link hover-line header__navigation-link--active" href="#">
|                                 женское
|                             </a>
|                         </li>
|                         <li class="header__navigation-item">
|                             <a class="header__navigation-link hover-line" href="#">
|                                 мужское
|                             </a>
|                         </li>
|                         <li class="header__navigation-item">
|                             <a class="header__navigation-link hover-line" href="#">
|                                 детское
|                             </a>
|                         </li>
|                     </ul>
|                 </nav>
|                 <a class="logo" href="#">
|                     <img src="assets/icons/logo.svg" alt="">
|                 </a>
|                 <div class="header__buttons">
|                     <div class="header__join">
|                        <svg class="icon icon-middle icon-join">
|                           <use xlink:href="assets/sprites/sprite.svg#join"></use>
|                        </svg>
|                         <a class='hover-line hover-line--thin join-trigger' data-fancybox data-src="#join-modal" id='login-trigger'>
|                             Вход
include _join-modal.pug
|                         </a>
|                         / 
|                         <a class='hover-line hover-line--thin join-trigger' data-fancybox data-src="#join-modal" id='register-trigger'>
|                             Регистрация
|                         </a>
|                     </div>
|                     <a class="header__liked-btn" href='#'>
|                        <svg class="icon icon-middle icon-save">
|                           <use xlink:href="assets/sprites/sprite.svg#save"></use>
|                        </svg>
|                         0
|                     </a>
|                     <a class="header__basket-btn" href='#'>
|                        <svg class="icon icon-middle icon-cart">
|                           <use xlink:href="assets/sprites/sprite.svg#cart"></use>
|                        </svg>
|                         0
|                     </a>
|                 </div>
|             </div>
|         </div>
|     </div>
|     <div class="header__bottom">
|         <div class="container">
|             <div class="header__bottom-inner">
|               <nav class="subnavigation subnavigation--header">
|                   <ul class="subnavigation__list">
|                       <li class="subnavigation__item">
|                           <a class="subnavigation__link hover-line" href="#">
|                               НОВИНКИ
|                           </a>
.dropdown
    .dropdown__nav
        .dropdown__catogories
            span.dropdown__categories-title Одежда
            div.simple-navigation
                ul.simple-navigation__list
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Блузы и рубашки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Туники
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Брюки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Спортивная одежда
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Верхняя одежда
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Джинсы
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Комбинезоны
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Костюмы
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Жилеты
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Пиджаки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Платья
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Пляжная одежда
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Трикотаж
                ul.simple-navigation__list
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Пляжная одежда
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Трикотаж
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Толстовки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Топы
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Футболки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Шорты
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Юбки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Боди
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Рубашки
                    li.simple-navigation__item
                        a.simple-navigation__link.link(href='#') Все категории
        .dropdown__top-categories
            span.dropdown__categories-title Топ бренды
            .simple-navigation
                ul.simple-navigation__list
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') BALENCIAGA
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') BALMAIN
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') BOTTEGA VENETA
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') BRUNELLO CUCINELLI
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') CELINE
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') DOLCE & GABBANA
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') ETRO
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') GUCCI
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') LOEWE
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') LORO PIANA
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') PHILIPP PLEIN
                    li.simple-navigation__item
                        a.simple-navigation__link.link(href='#') Все бренды
    .dropdown__slider.slider
        span.dropdown__categories-title SALE одежда
        include _mini-slider.pug
|                       </li>
|                       <li class="subnavigation__item">
|                           <a class="subnavigation__link hover-line" href="#">
|                               ДИЗАЙНЕРЫ
|                           </a>
.dropdown
    .dropdown__nav
        .dropdown__catogories
            span.dropdown__categories-title Одежда
            div.simple-navigation
                ul.simple-navigation__list
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Блузы и рубашки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Туники
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Брюки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Спортивная одежда
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Верхняя одежда
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Джинсы
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Комбинезоны
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Костюмы
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Жилеты
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Пиджаки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Платья
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Пляжная одежда
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Трикотаж
                ul.simple-navigation__list
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Пляжная одежда
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Трикотаж
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Толстовки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Топы
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Футболки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Шорты
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Юбки
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Боди
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') Рубашки
                    li.simple-navigation__item
                        a.simple-navigation__link.link(href='#') Все категории
        .dropdown__top-categories
            span.dropdown__categories-title Топ бренды
            .simple-navigation
                ul.simple-navigation__list
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') BALENCIAGA
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') BALMAIN
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') BOTTEGA VENETA
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') BRUNELLO CUCINELLI
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') CELINE
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') DOLCE & GABBANA
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') ETRO
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') GUCCI
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') LOEWE
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') LORO PIANA
                    li.simple-navigation__item
                        a.simple-navigation__link(href='#') PHILIPP PLEIN
                    li.simple-navigation__item
                        a.simple-navigation__link.link(href='#') Все бренды
    .dropdown__slider.slider
        span.dropdown__categories-title SALE одежда
        include _mini-slider.pug
|                       </li>
|                       <li class="subnavigation__item">
|                           <a class="subnavigation__link hover-line" href="#">
|                               ОДЕЖДА
|                           </a>
|                       </li>
|                       <li class="subnavigation__item">
|                           <a class="subnavigation__link hover-line" href="#">
|                               ОБУВЬ
|                           </a>
|                       </li>
|                       <li class="subnavigation__item">
|                           <a class="subnavigation__link hover-line" href="#">
|                               СУМКИ
|                           </a>
|                       </li>
|                       <li class="subnavigation__item">
|                           <a class="subnavigation__link hover-line" href="#">
|                               АКСЕССУАРЫ
|                           </a>
|                       </li>
|                       <li class="subnavigation__item">
|                           <a class="subnavigation__link hover-line" href="#">
|                               ПОДАРКИ
|                           </a>
|                       </li>
|                       <li class="subnavigation__item">
|                           <a class="subnavigation__link hover-line" href="#">
|                               SALE
|                           </a>
|                       </li>
|                   </ul>
|               </nav>
//-               Активный класс для поиска - header__search-wrapper--active
|               <div class='header__search-wrapper'>
|                 <div class="header__search input-wrapper input-wrapper--search">
|                     <svg class="icon icon-middle icon-search">
|                        <use xlink:href="assets/sprites/sprite.svg#search"></use>
|                     </svg>
|                     <input class="header__search-input input input--small" type="text" placeholder="Более 10 000 товаров для Вас">
|                 </div>
|                 <div class="header__searched">
include _card-search.pug
include _card-search.pug
include _card-search.pug
include _card-search.pug
include _white-btn.pug
|                   </div>
|               </div>
|             </div>
|         </div>
|     </div>
| </header>