div.map__places
    ul.map__places-list
        li.map__places-item
            p.map__places-title ТРЦ MEGA Alma-Ata (ул. Розыбакиева 247A)
            a.map__places-phone(href='tel:+77789783825') 
                svg.icon.icon-phone
                    use(
                        xlink:href="assets/sprites/sprite.svg#phone"
                    )
                | +7 778 978-38-25
            p.map__places-time 
                svg.icon.icon-clock
                    use(
                        xlink:href="assets/sprites/sprite.svg#clock"
                    )
                | Пн.-Вс. с 10:00 до 22:00
        li.map__places-item
            p.map__places-title ТД Арена (ул. Абая уг. ул. Гагарина)
            a.map__places-phone(href='tel:+77789783825') 
                svg.icon.icon-phone
                    use(
                        xlink:href="assets/sprites/sprite.svg#phone"
                    )
                | +7 778 978-38-25
            p.map__places-time 
                svg.icon.icon-clock
                    use(
                        xlink:href="assets/sprites/sprite.svg#clock"
                    )
                | Пн.-Вс. с 10:00 до 22:00
        li.map__places-item
            p.map__places-title ТРЦ MEGA PARK (ул. Макатаева 127)
            a.map__places-phone(href='tel:+77789783825') 
                svg.icon.icon-phone
                    use(
                        xlink:href="assets/sprites/sprite.svg#phone"
                    )
                | +7 778 978-38-25
            p.map__places-time 
                svg.icon.icon-clock
                    use(
                        xlink:href="assets/sprites/sprite.svg#clock"
                    )
                | Пн.-Вс. с 10:00 до 22:00
    ul.map__places-list
        li.map__places-item
            p.map__places-title Мкр-н Керемет 7, корпус 31
            a.map__places-phone(href='tel:+77789783825')
                svg.icon.icon-phone
                    use(
                        xlink:href="assets/sprites/sprite.svg#phone"
                    )
                | +7 778 978-38-25
            p.map__places-time 
                svg.icon.icon-clock
                    use(
                        xlink:href="assets/sprites/sprite.svg#clock"
                    )
                | Пн.-Вс. с 10:00 до 22:00
        li.map__places-item
            p.map__places-title ул. Байтурсынова 106 (уг. ул. Сатпаева)
            a.map__places-phone(href='tel:+77789783825') 
                svg.icon.icon-phone
                    use(
                        xlink:href="assets/sprites/sprite.svg#phone"
                    )
                | +7 778 978-38-25
            p.map__places-time 
                svg.icon.icon-clock
                    use(
                        xlink:href="assets/sprites/sprite.svg#clock"
                    )
                | Пн.-Вс. с 10:00 до 22:00