| <ul class="partners__list">
|     <li class="partners__item">
|         <a class="partners__link" href="#">
|             <svg class='icon icon-denisov-logo'>
|                 <use xlink:href="assets/sprites/sprite.svg#denisov-logo"></use>
|             </svg>
|         </a>
|     </li>
|     <li class="partners__item picon mastercard"></li>
|     <li class="partners__item picon visa"></li>
|     <li class="partners__item picon paybox"></li>
|     <li class="partners__item picon zoodpay"></li>
| </ul>