ul.partners__list
    li.partners__item
        a.partners__link(href='#')
            svg.icon.icon-denisov-logo
                use(xlink:href="assets/sprites/sprite.svg#denisov-logo")
    li.partners__item.picon.mastercard
    li.partners__item.picon.visa
    li.partners__item.picon.paybox
    li.partners__item.picon.zoodpay