|    <section class="home-choose">
|        <div class="container">
|            <div class="home-choose__items">
|                <div class="home-choose__item home-choose__item--active">
|                    <i class="picon women-banner"></i>
|                    <nav class="subnavigation subnavigation--choose">
|                        <ul class="subnavigation__list">
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    НОВИНКИ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    ДИЗАЙНЕРЫ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    ОДЕЖДА
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    ОБУВЬ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    СУМКИ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    АКСЕССУАРЫ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    ПОДАРКИ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    SALE
|                                </a>
|                            </li>
|                        </ul>
|                        <a class="home-choose__gender active-line" href="#">
|                            женщинам
|                        </a>
|                    </nav>
|                </div>
|                <div class="home-choose__item">
|                    <i class="picon man-banner"></i>
|                    <nav class="subnavigation subnavigation--choose">
|                        <ul class="subnavigation__list">
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    НОВИНКИ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    ДИЗАЙНЕРЫ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    ОДЕЖДА
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    ОБУВЬ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    СУМКИ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    АКСЕССУАРЫ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    ПОДАРКИ
|                                </a>
|                            </li>
|                            <li class="subnavigation__item">
|                                <a class="subnavigation__link hover-line" href="#">
|                                    SALE
|                                </a>
|                            </li>
|                        </ul>
|                        <a class="home-choose__gender hover-line" href="#">
|                            Мужчинам
|                        </a>
|                    </nav>
|                </div>
|            </div>
|        </div>
|    </section>
|
|    <section class="slider slider--have-cards">
|        <div class="container">
|            <h3 class="subtitle">
|                новинки недели
|            </h3>
include ../components/_slider-auto.pug
|    </section>
|
|    <section class="home-banners">
|        <div class="container">
|            <div class="home-banners__inner">
|                <a class="home-banners__imgwrapper" href='#'>
|                    <img src="temp/index-banner-1.jpg" alt="">
|                </a>
|                <div class="home-banners__smaller">
|                    <a class="home-banners__imgwrapper" href='#'>
|                        <img src="temp/index-banner-2.jpg" alt="">
|                    </a>
|                    <a class="home-banners__imgwrapper" href='#'>
|                        <img src="temp/index-banner-3.jpg" alt="">
|                    </a>
|                </div>
|            </div>
|        </div>
|    </section>
|
|    <section class="actually slider">
|        <div class="container">
|            <h3 class="subtitle">
|                актуальное
|            </h3>
|            <div class="slider--big-slides swiper-container">
|                <div class="swiper-wrapper">
|                    <a class="card-big swiper-slide" href='#'>
|                        <img src="temp/actually-1.jpg" alt="">
|                        <span class="card-big__title">
|                            Платье
|                        </span>
|                    </a>
|                    <a class="card-big swiper-slide" href='#'>
|                        <img src="temp/actually-2.jpg" alt="">
|                        <span class="card-big__title">
|                            Блузка
|                        </span>
|                    </a>
|                    <a class="card-big swiper-slide" href='#'>
|                        <img src="temp/actually-3.jpg" alt="">
|                        <span class="card-big__title">
|                            Пиджак
|                        </span>
|                    </a>
|                    <a class="card-big swiper-slide" href='#'>
|                        <img src="temp/actually-4.jpg" alt="">
|                        <span class="card-big__title">
|                            Юбка
|                        </span>
|                    </a>
|                </div>
|            </div>
|            <div class="arrow-prev"></div>
|            <div class="arrow-next"></div>
|        </div>
|    </section>
|
|    <section class='mini-cataloge'>
|        <div class="container">
|            <div class="tabs-wrapper">
|                <div class="tabs mobile-overflow">
|                    <a class="tab subtitle hover-line tab--active active-line" href='#tab-1'>
|                        <h3>
|                            выгодная цена
|                        </h3>
|                    </a>
|                    <a class="tab subtitle hover-line" href='#tab-2'>
|                        <h3>
|                            тренд
|                        </h3>
|                    </a>
|                    <a class="tab subtitle hover-line" href='#tab-3'>
|                        <h3>
|                            exclusive
|                        </h3>
|                    </a>
|                </div>
|            </div>
|            <div class="tabs-container">
|                <div class="tabs-content tabs-content--active cataloge-wrapper" id='tab-1'>
include ../components/_card-row.pug
include ../components/_card-row.pug
include ../components/_card-row.pug
|                </div>
|                <div class="tabs-content cataloge-wrapper" id='tab-2'>
include ../components/_card-row.pug
include ../components/_card-row.pug
include ../components/_card-row.pug
|                </div>
|                <div class="tabs-content cataloge-wrapper" id='tab-3'>
include ../components/_card-row.pug
include ../components/_card-row.pug
include ../components/_card-row.pug
|                </div>
|            </div>
|        </div>
|    </section>
|
|    <section class="instagram slider">
|        <div class="container">
|            <h3 class="subtitle">
|                instagram
|            </h3>
|            <p class="subtitle-descr">
|                <a href="#">
|                    @kimex_grazie
|                </a>
|            </p>
|            <div class="slider--instagram swiper-container">
|                <div class="swiper-wrapper">
|                    <a class="card-big swiper-slide" href='#'>
|                        <img src="temp/instagram-1.jpg" alt="">
|                    </a>
|                    <a class="card-big swiper-slide" href='#'>
|                        <img src="temp/instagram-2.jpg" alt="">
|                    </a>
|                    <a class="card-big swiper-slide" href='#'>
|                        <img src="temp/instagram-3.jpg" alt="">
|                    </a>
|                </div>
|            </div>
|            <div class="arrow-prev"></div>
|            <div class="arrow-next"></div>
|        </div>
|    </section>