section.home-choose
    .container
        .home-choose__items
            .home-choose__item.home-choose__item--active
                i.picon.women-banner
                nav.subnavigation.subnavigation--choose
                    ul.subnavigation__list
                        each val in ['НОВИНКИ', 'ДИЗАЙНЕРЫ', 'ОДЕЖДА', 'ОБУВЬ', 'СУМКИ', 'АКСЕССУАРЫ', 'ПОДАРКИ', 'SALE']
                            li.subnavigation__item
                                a.subnavigation__link.hover-line(href='#')=val
                    a.home-choose__gender.active-line(href='#') женщинам
            .home-choose__item
                i.picon.man-banner
                nav.subnavigation.subnavigation--choose
                    ul.subnavigation__list
                        each val in ['НОВИНКИ', 'ДИЗАЙНЕРЫ', 'ОДЕЖДА', 'ОБУВЬ', 'СУМКИ', 'АКСЕССУАРЫ', 'ПОДАРКИ', 'SALE']
                            li.subnavigation__item
                                a.subnavigation__link.hover-line(href='#')=val
                    a.home-choose__gender.hover-line(href='#') Мужчинам
section.slider.slider--have-cards
    .container
        h3.subtitle новинки недели
        include ../components/_slider-auto.pug
section.home-banners
    .container
        .home-banners__inner
            a.home-banners__imgwrapper(href='#')
                img(src='temp/index-banner-1.jpg' alt='')
            .home-banners__smaller
                a.home-banners__imgwrapper(href='#')
                  img(src='temp/index-banner-2.jpg' alt='')
                a.home-banners__imgwrapper(href='#')
                  img(src='temp/index-banner-3.jpg' alt='')
section.actually.slider
    .container
        h3.subtitle актуальное
        .slider--big-slides.swiper-container
            .swiper-wrapper
                a.card-big.swiper-slide(href='#')
                    img(src='temp/actually-1.jpg' alt='')
                    span.card-big__title Платье
                a.card-big.swiper-slide(href='#')
                    img(src='temp/actually-2.jpg' alt='')
                    span.card-big__title Блузка
                a.card-big.swiper-slide(href='#')
                    img(src='temp/actually-3.jpg' alt='')
                    span.card-big__title Пиджак
                a.card-big.swiper-slide(href='#')
                    img(src='temp/actually-4.jpg' alt='')
                    span.card-big__title Юбка
        .arrow-prev
        .arrow-next
section.mini-cataloge
    .container
        .tabs-wrapper
            .tabs.mobile-overflow
                a.tab.subtitle.hover-line.tab--active.active-line(href='#tab-1')
                    h3 выгодная цена
                a.tab.subtitle.hover-line(href='#tab-2')
                    h3 тренд
                a.tab.subtitle.hover-line(href='#tab-3')
                    h3 exclusive
        .tabs-container
            #tab-1.tabs-content.tabs-content--active.cataloge-wrapper
                include ../components/_card-row.pug
                include ../components/_card-row.pug
                include ../components/_card-row.pug
            #tab-2.tabs-content.cataloge-wrapper
                include ../components/_card-row.pug
                include ../components/_card-row.pug
                include ../components/_card-row.pug
            #tab-3.tabs-content.cataloge-wrapper
                include ../components/_card-row.pug
                include ../components/_card-row.pug
                include ../components/_card-row.pug
section.instagram.slider
    .container
        h3.subtitle
          | instagram
        p.subtitle-descr
            a(href='#')
              | @kimex_grazie
        .slider--instagram.swiper-container
            .swiper-wrapper
                a.card-big.swiper-slide(href='#')
                    img(src='temp/instagram-1.jpg' alt='')
                a.card-big.swiper-slide(href='#')
                    img(src='temp/instagram-2.jpg' alt='')
                a.card-big.swiper-slide(href='#')
                    img(src='temp/instagram-3.jpg' alt='')
        .arrow-prev
        .arrow-next