section.lk-history.lk
    .container
        .lk__inner
            aside.lk-aside
                .lk-aside__cabinet--mobile
                    h1.lk-aside__cabinet-title личный кабинет
                    a.link Выйти
                ul.lk-aside__list
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') мои данные
                    li.lk-aside__item
                        a.lk-aside__link.hover-line.active-line(href='#') истории покупок
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') программа лояльности
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') избранное
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') выйти
            .lk-history__inner
                h1.subtitle истории покупок
                ul.lk-history__items
                    li.lk-history__item
                        .lk-history__item-left
                            .lk-history__item-number
                                p.lk-history__item-text Номер заказа: 
                                    span № 233122
                                p.lk-history__item-text Дата заказа: 
                                    span 03.11.2020
                            p.lk-history__item-text.lk-history__item-text--mobile Кол-во товаров: 
                                span  5
                            ul.lk-history__item-added.lk-added
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-2.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-3.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-5.jpg')
                                p.lk-added__more Ещё
                                    br
                                    | 2 товара
                            .lk-history__item-delivery
                                p.lk-history__item-text Адрес доставки: 
                                    span Астана, Володарского , д. 157, 90
                                p.lk-history__item-text Получатель: 
                                    span Алексей Заморин, тел. +7 (924) 232-10-74
                                p.lk-history__item-text--mobile 3 товара на сумму: 
                                    span 90 900 ₸
                        .lk-history__item-right
                            .lk-history__item-additional
                                p.lk-history__item-text Статус заказа: 
                                    span.lk-history__item-status.lk-history__item-status--processing Обрабатывается
                                p.lk-history__item-text 3 товара на сумму: 
                                    span 90 900 ₸
                            button.lk-history__item-btn.lk-history__item-btn--opened(type='button')
                    li.lk-history__item
                        .lk-history__item-left
                            .lk-history__item-number
                                p.lk-history__item-text Номер заказа: 
                                    span № 233122
                                p.lk-history__item-text Дата заказа: 
                                    span 03.11.2020
                            p.lk-history__item-text.lk-history__item-text--mobile Кол-во товаров: 
                                span 3
                            ul.lk-history__item-added.lk-added
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-2.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-3.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-5.jpg')
                                p.lk-added__more Ещё
                                    br
                                    | 2 товара
                            .lk-history__item-delivery
                                p.lk-history__item-text Адрес доставки: 
                                    span Астана, Володарского , д. 157, 90
                                p.lk-history__item-text Получатель: 
                                    span Алексей Заморин, тел. +7 (924) 232-10-74
                                p.lk-history__item-text--mobile 3 товара на сумму: 
                                    span 90 900 ₸
                        .lk-history__item-right
                            .lk-history__item-additional
                                p.lk-history__item-text Статус заказа: 
                                    span.lk-history__item-status.lk-history__item-status--done Доставлен
                                p.lk-history__item-text 3 товара на сумму: 
                                    span 90 900 ₸
                            button.lk-history__item-btn.lk-history__item-btn--opened(type='button')
                    li.lk-history__item.lk-history__item--more
                        .lk-history__item-left
                            .lk-history__item-number
                                p.lk-history__item-text Номер заказа: 
                                    span № 233122
                                p.lk-history__item-text Дата заказа: 
                                    span 03.11.2020
                            p.lk-history__item-text.lk-history__item-text--mobile Кол-во товаров: 
                                span 3
                            ul.lk-history__item-added.lk-added
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-2.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-3.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-5.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-3.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-5.jpg')
                                p.lk-added__more Ещё
                                    br
                                    | 2 товара
                            .lk-history__item-delivery
                                p.lk-history__item-text Адрес доставки: 
                                    span Астана, Володарского , д. 157, 90
                                p.lk-history__item-text Получатель: 
                                    span Алексей Заморин, тел. +7 (924) 232-10-74
                                p.lk-history__item-text--mobile 3 товара на сумму: 
                                    span 90 900 ₸
                        .lk-history__item-right
                            .lk-history__item-additional
                                p.lk-history__item-text Статус заказа: 
                                    span.lk-history__item-status.lk-history__item-status--deny Отменен
                                p.lk-history__item-text 3 товара на сумму: 
                                    span 90 900 ₸
                            button.lk-history__item-btn.lk-history__item-btn--opened(type='button')
                    li.lk-history__item
                        .lk-history__item-left
                            .lk-history__item-number
                                p.lk-history__item-text Номер заказа: 
                                    span № 233122
                                p.lk-history__item-text Дата заказа: 
                                    span 03.11.2020
                            p.lk-history__item-text.lk-history__item-text--mobile Кол-во товаров: 
                                span 5
                            ul.lk-history__item-added.lk-added
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-2.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-3.jpg')
                                li.lk-added__item
                                    a.lk-added__link(href='#')
                                        img(src='temp/novelty-week-5.jpg')
                                p.lk-added__more Ещё
                                    br
                                    | 2 товара
                            .lk-history__item-delivery
                                p.lk-history__item-text Адрес доставки: 
                                    span Астана, Володарского , д. 157, 90
                                p.lk-history__item-text Получатель: 
                                    span Алексей Заморин, тел. +7 (924) 232-10-74
                                p.lk-history__item-text--mobile 3 товара на сумму: 
                                    span 90 900 ₸
                        .lk-history__item-right
                            .lk-history__item-additional
                                p.lk-history__item-text Статус заказа: 
                                    span.lk-history__item-status.lk-history__item-status--done Доставлен
                                p.lk-history__item-text 3 товара на сумму: 
                                    span 90 900 ₸
                            button.lk-history__item-btn.lk-history__item-btn--opened(type='button')