section.lk-saved.lk
    .container
        .lk__inner
            aside.lk-aside
                ul.lk-aside__list
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') мои данные
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') истории покупок
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') программа лояльности
                    li.lk-aside__item
                        a.lk-aside__link.hover-line.active-line(href='#') избранное
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') выйти
            .lk-saved__inner
                h1.subtitle избранные товары
                .cataloge-wrapper
                    include ../components/_card-row.pug
                    include ../components/_card-row.pug