section.prog-loyal.lk
    .container
        .lk__inner
            aside.lk-aside
                .lk-aside__cabinet--mobile
                    h1.lk-aside__cabinet-title личный кабинет
                    a.link Выйти
                ul.lk-aside__list
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') мои данные
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') истории покупок
                    li.lk-aside__item
                        a.lk-aside__link.hover-line.active-line(href='#') программа лояльности
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') избранное
                    li.lk-aside__item
                        a.lk-aside__link.hover-line(href='#') выйти
            .prog-loyal__inner
                h1.subtitle Программа лояльности
                .prog-loyal__levels
                    p.prog-loyal__level 20%
                    p.prog-loyal__level.prog-loyal__level--active 30%
                        span.prog-loyal__level-path 50 000 ₸
                    p.prog-loyal__level 40%
                        span.prog-loyal__level-path 300 000 ₸
                    p.prog-loyal__level 50%
                        span.prog-loyal__level-path 1 000 000 ₸
                .prog-loyal__descr-wrapper
                    h2.prog-loyal__curr Ваша скидка: 
                        span 30%
                    h6.prog-loyal__descr До скидки 
                        span 40% 
                        | осталось:  
                        span 250 900 ₸ 
                .prog-loyal__info
                    p.prog-loyal__text Дисконтные карты (далее ДК) для Клиентов, предназначены для всех клиентов «KIMEX/Grazie». Скидка будет осуществлена на вторую и последующие покупки в магазинах «KIMEX/Grazie».  
                    .prog-loyal__list-wrapper
                        p.prog-loyal__list-title Размер скидки для бренда «KIMEX/Grazie» составляет:
                        ul.prog-loyal__list
                            li.prog-loyal__item При единовременной покупке товара из Новой Коллекции  на любую сумму – 20%
                            li.prog-loyal__item При накоплении на карте суммы 50 000 тг. и более, размер предоставляемой скидки на Новую Коллекцию при последующих покупках составит 30%
                            li.prog-loyal__item
                                p При накоплении на карте суммы 300 000 тг. и более, размер скидки при последующих покупках на Новую Коллекцию составит 40%
                                p При накоплении на карте суммы 1 000 000 тг. и более, размер скидки при последующих покупках на Новую Коллекцию составит 50%
                    p.prog-loyal__text Срок действия карты не ограничен.
                    p.prog-loyal__text Дисконтные карты «KIMEX/Grazie» действуют во всех магазинах «KIMEX/Grazie» на территории Республики Казахстан.
                    .prog-loyal__list-wrapper
                        p.prog-loyal__list-title Порядок предоставления скидок по дисконтной карте:
                        ul.prog-loyal__list
                            li.prog-loyal__item Держатель дисконтной карты может воспользоваться правом на скидку только при предъявлении дисконтной карты в месте приобретения товаров до завершения всех расчетов
                            li.prog-loyal__item Скидка по дисконтной карте не предоставляется в период распродаж, специальных предложений и контролируется на местах продаж.
                            li.prog-loyal__item В период распродаж и специальных предложений на картах действует накопление. Накопления на карту производятся в месте приобретения товаров до завершения всех расчетов только при предъявлении дисконтной карты.