doctype html
html
    head
        title Карточка
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include components/_styles.pug
    
    body
    
        include components/_header-lined.pug  
    
        include content/_card-up-content.pug

        include components/_cards-modal.pug
        include components/_join-modal.pug
    
        include components/_footer.pug
    
    include components/_scripts.pug