doctype html
html
    head
        title Каталог
        include components/_styles.pug
        meta(
            name="viewport",
            content="width=device-width, initial-scale=1"
        )

    body
    
        include components/_header-lined.pug  

        include content/_cataloge-content.pug

        include components/_cards-modal.pug
        include components/_join-modal.pug

        include components/_footer.pug

    include components/_scripts.pug