doctype html
html
    head
        title Контакт
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include components/_styles.pug
    
    body
    
        include components/_header-lined.pug  
    
        include content/_contact-content.pug
        include components/_join-modal.pug
    
        include components/_footer.pug

        script(
            src="https://api-maps.yandex.ru/2.1/?166d2631-958d-4714-b12e-08e217e1c4ea&lang=ru_RU" type="text/javascript" 
        )
        include components/_scripts.pug