doctype html
html
    head
        title Программа лояльности
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include components/_styles.pug
    
    body
    
        include components/_header-lined.pug  
    
        include content/_lk-prog-content.pug
    
        include components/_footer.pug
    
        include components/_scripts.pug