doctype html
html
    head
        title Оформить заказ
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include components/_styles.pug
    
    body
    
        include components/_only-logo.pug  
    
        include content/_submit-order-content.pug
        include components/_join-modal.pug
    
        include components/_footer-light.pug
    
        include components/_scripts.pug